/* header */
header {
    height: calc(100vh - 50px);
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(to right bottom, #33e, #3ee);
    color: #fff;
    transition: background-color 0.3s ease;
}

header h1 {
    background: linear-gradient(135deg, #3e3, #3ec, #3ac);
    background-clip: text;
    color: transparent;
    font-size: 5rem;
    letter-spacing: 0.2em;
}

header p {
    font-size: 1.5rem;
    margin-top: 20px;
    opacity: 0.8;
    text-align: center;
}

header div {
    margin-top: 30px;
    display: flex;
    position: absolute;
    bottom: 100px;
    right: 40px;
}

header button {
    background-color: #fff;
    color: #333;
    font-size: 2em;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 20px;
    cursor: pointer;

}

header button:hover {
    background-color: #555;
    color: #eee;
    transition: all 0.3s ease;
}

/* Main */
main {
    width: 100%;
    display: grid;
    gap: 30px;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "articles"
        "products"
    ;
}

/* Products */
.products {
    width: 100%;
    grid-area: products;
}

.products h2 {
    display: inline-block;
    font-size: 1.5em;
    margin: 20px 0;
    background-color: var(--bg-secondary);
    padding: 0.5em;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--shadow);
}

.products ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 30px;

}

.products ul li {
    width: 100%;
    height: unset;
    background: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px var(--shadow);
    transition: all, 0.2s;
    border-radius: 20px;
}

.info {
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.info h3 {
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
}

.info p {
    width: 100%;
    font-size: 1.2em;
    padding: 0 20px;
}

.products .image {
    order: -1;
    height: 150px;
    width: 100%;
    border-radius: 20px;
    background: center/cover no-repeat;
    position: relative;
}

.image a {
    position: absolute;
    padding: 0.5rem 1rem;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    color: var(--link-hover);
    border: 2px solid var(--link-hover);
    background-color: var(--bg-secondary);
    opacity: 0.8;
    border-radius: 20%;
}

.image a:hover {
    color: var(--bg-secondary);
    background-color: var(--link-hover);
    text-decoration: none;
    opacity: 1;
}

ul :nth-child(1) .image {
    background-image: url("/static/images/sunny.png");
}

ul :nth-child(2) .image {
    background-image: url("/static/images/dessert.png");
}

ul :nth-child(3) .image {
    background-image: url("/static/images/dark.png");
}

/* Articles */

aside {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 20px;
    background: var(--bg-secondary);
    grid-area: articles;
}

aside h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border);

}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

aside ul li a {
    font-size: 1.2em;
    padding: 10px;
    color: var(--link);
    display: block;
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

aside ul a:hover {
    background-color: var(--bg-primary);
    text-decoration: none;
}



@media screen and (min-width: 768px) {

    header {
        display: block flex;
    }

    main {
        grid-template-columns: 20em 1fr;
        grid-template-areas:
            "articles products"
        ;
    }

    main .image a {
        position: absolute;
        padding: 0.5rem 1rem;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
    }

    aside {
        width: unset;
    }

    .products {
        width: unset;
    }

    .products ul li {
        height: unset;
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 25em 1fr;
    }

    .products ul li {
        max-width: 800px;
        height: 300px;
        flex-direction: row;
    }

    .products .image {
        max-width: 40%;
        height: 100%;
        order: 1;
    }
}

@media print {}