* {
    padding: 0px;
    margin: 0px;
}

body {
    font: 12px/1.5 "Microsoft Yahei";
}

p {
    text-indent: 2em;
    line-height: 26px;
}

p b span {
    color: red;
}

.lighter b {
    color: green;
}

div>span {
    color: #f00;
}

#top {
    color: red;
    font-size: 24
}

.aa {
    height: 500px;
    background-color: red;
    margin: 50px;
    overflow: hidden;
}

.bb {
    height: 200px;
    width: 500px;
    background-color: green;
    margin: 100px;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 0px;
}

table {
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.bolder {
    font-weight: bolder;
}

.red {
    color: #f0f;
}

h3 {
    font: normal 600 32px "宋体";
    color: #f00;
    text-align: right;
}

h4 b,
h5 {
    font-size: 16px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:hover {
    color: #00f;
}

a:active {
    color: #f00;
}

input:focus {
    color: #fff;
    background-color: gray;
}

.test02 a {
    display: inline-block;
    text-decoration: none;
    background-color: orange;
    color: white;
    width: 500px;
    height: 200px;
    line-height: 200px;
    text-indent: 2em;
}

.test02 a:hover {
    background-color: gray;
}

.unlist li:nth-child(2) {
    color: #000;
}

.bi {
    width: 800px;
    height: 200px;
    text-align: center;
    background: #f8f url(../images/dir.png) no-repeat center top;
}

.at {
    height: 300px;
    background: rgba(0, 0, 0, 0.5) url(../images/info_t.png) no-repeat fixed center;
}